<ion-view style="/*background:linear-gradient(darkgray,tan)*/ background:url('img/bg-main.jpg')" view-title="{{event.etype}}">

  <!-- header with 3vd button -->
  <ion-nav-buttons side="right">
      <button ng-hide="event.owner==userid||event.past==true||event.state=='Cancelled'" class="button button-icon ion-android-done" ng-style="{'color':event.inviteeStatus[userid]=='yes'?'lightgreen':'white'}" ng-click="sendYes()"></a>
      <button ng-hide="event.owner==userid||event.past==true||event.state=='Cancelled'" class="button button-icon ion-android-close" ng-style="{'color':event.inviteeStatus[userid]=='no'?'red':'white'}" ng-click="sendNo()"></a>
      <button class="button button-icon ion-android-more-vertical" ng-click="menuPopover.show($event)"></button>
  </ion-nav-buttons>

  <!-- cards -->
  <ion-tabs class="tabs-background-dark tabs-icon-only tabs-color-energized tabs-top tabs-striped">

  <!-- main event card -->
  <ion-tab title="Details" icon="ion-calendar">
  <ion-nav-view>
  <ion-content scroll="false">
  <div ng-show="editing==true" class="list card" style="height:400px;border-radius:5px">
    <label style="background-color:white;height:40px" class="item item-input item-divider">
      <input type="text" placeholder="Title" style="background-color:white;font-size:15px" ng-model="event.name">
    </label>  

    <div style="background-color:white;height:40px" class="item item-input item-button-right">
      <input placeholder="What" ng-readonly="true" type="text" style="background-color:white;font-size:15px" ng-model="event.etype"/>
      <button class="button button-icon ion-more" style="font-size:25px;top:4px" ng-click="typePopover.show($event)"></button>
    </div>

    <label style="background-color:white;height:40px" class="item item-input">
      <input type="text" placeholder="Tomorrow at 8pm" style="background-color:white;font-size:15px" ng-model="event.startTimeLocal">
    </label>

    <label ng-show="event.etype!='Call'" style="background-color:white;height:40px" class="item item-input">
      <input type="text" id="Autocomplete" style="background-color:white;font-size:15px" placeholder="Where" class="form-control" ng-autocomplete ng-model="event.place" ng-focus="disableTap()"/>
    </label>
    <label ng-show="event.etype=='Call'" style="background-color:white;height:40px" class="item item-input">
      <input type="tel" style="background-color:white;font-size:15px" placeholder="Call Number" class="form-control" ng-model="event.place"/>
    </label>
    
    <div style="background-color:white;height:40px" class="item item-input item-button-right">
      <input placeholder="Who" type="text" style="background-color:white;font-size:15px" autocomplete="off" ng-model="event.invitees" />
      <button class="button button-icon ion-plus-circled" style="font-size:25px;top:4px" ng-click="pickContactUsingNativeUI()"></button>
    </div>
    <div class="item item-input">
       <textarea style="font-size:12px;width:100%;resize:none;height:80px" placeholder="Notes" ng-model="event.data.notes"></textarea>
    </div>
    <div style="background-color:white;height:80px" class="item">
      <a style="margin:10px;color:black" class="button button-block button-energized" ng-click="createOrUpdateEvent()">{{event.id?'Update':'Invite'}}</a>   
    </div>
  </div>
  <div ng-show="editing==false" class="list card" style="background-color:rgba(255,255,255,0.7);border-radius:5px">
    <div class="item item-text-wrap item-icon-left"><i class="icon ion-information" style="color:darkgoldenrod"></i><b>{{event.name}}</b></div>
    <div class="item item-text-wrap item-icon-left"><i class="icon ion-android-person" style="color:darkgoldenrod"></i>From {{event.owner==userid?'me':event.owner}}</div>
    <div class="item item-text-wrap item-icon-left"><i class="icon ion-clock" style="color:darkgoldenrod"></i>{{event.startTimeLocal || '(No time)'}}</div>
    <div class="item item-text-wrap item-icon-left"><i class="icon ion-location" style="color:darkgoldenrod"></i>{{event.place || '(No place)'}}
       <a style="font-size:14px" ng-href="{{event.etype=='Call'?'tel:'+event.place:'geo:'+event.place}}">({{event.etype=='Call'?'Call':'Map'}})</a>
    </div>
    <div class="item item-input" ng-if="event.data.notes">
       <textarea style="width:100%;resize:none;height:200px" placeholder="Notes" ng-model="event.data.notes"></textarea>
    </div>
  </div>
  </ion-content>
  </ion-nav-view>
  </ion-tab>

  <!-- map card -->
  <!--
  <ion-slide>
    <div>
       <a style="font-size:13px;position:fixed;color:blue;right:10px;top:14px;border-radius:3px;z-index:10;margin:10px;height:28px;min-height:28px;line-height:24px" class="button button-clear" ng-click="updateMap()">{{showMap?'Update':'Show'}}</a>
       <a ng-show="showMap==true" style="font-size:13px;color:blue;position:fixed;right:75px;top:14px;border-radius:3px;z-index:10;margin:10px;height:28px;min-height:28px;line-height:24px" class="button button-clear" ng-click="expandMap=!expandMap">{{expandMap?'Smaller':'Bigger'}}</a>
      <div class="list card" ng-style="{'border-radius':'5px','background-color':'whitesmoke','height':(expandMap==true)?'400px':'237px'}">
          <div style="background-color:darkgoldenrod;color:white" class="item item-divider">
            <b>Map</b> <span ng-if="mapUpdatedTime" style="font-size:12px">(Updated <span am-time-ago="mapUpdatedTime"></span>)</span>
          </div>
          <div ng-show="showMap==true" class="item" id="map_canvas">
            <ui-gmap-google-map center="map.center" zoom="map.zoom" dragging="false" options="{'streetViewControl':false, 'draggable':false, 'mapTypeControl':false}"> 
                <ui-gmap-markers idKey="'id'" models="markers" options="'options'" coords="'self'" icon="'icon'" fit="true"></ui-gmap-markers>
            </ui-gmap-google-map>    
            <div style="width:100%;height:200px" id="map_canvas_googleMap"></div>
          </div>
      </div>      
    </div>    
  </ion-slide>-->

  <!-- status card -->
  <ion-tab title="People" icon="ion-person-stalker" badge="event.etaPending==true?'!':''" badge-style="badge-positive">
  <ion-nav-view>
    <ion-content>
    <div class="list card" style="border-radius:5px">
      <!--<a style="position:absolute;right:24px;top:3px;font-size:18px;color:white;z-index:10" class="button button-small button-clear button-icon ion-loop" ng-click="requestEta(null)"></a>-->
      <div class="item item-button-right" style="font-size:14px;padding:10px">
         <i class="icon ion-android-person" style="font-size:16px;color:darkgoldenrod"></i>&nbsp;&nbsp;
         <span>{{event.owner==userid?'Me':event.owner}}</span>&nbsp;&nbsp;<span style="color:darkgoldenrod">ETA {{event.lastEta[event.owner]?event.lastEta[event.owner]:'unknown'}}</span>
         <button ng-hide="event.owner==userid" class="button button-icon ion-loop" style="color:gray;top:4px" ng-click="requestEta(event.owner)"></button>
         <button ng-hide="event.owner!=userid" class="button button-icon ion-android-pin" style="color:gray;top:4px" ng-click="etaPopover.show($event)"></button>
      </div>
      <div class="item item-button-right" style="font-size:14px;padding:10px" ng-repeat="u in event.invitees">
         <i class="icon" style="font-size:16px" ng-class="event.inviteeStatus[u]=='yes'?'ion-checkmark':event.inviteeStatus[u]=='no'?'ion-close':'ion-help'"></i>&nbsp;&nbsp;
         <span>{{u==userid?'Me':u}}</span>&nbsp;&nbsp;<span style="color:darkgoldenrod">ETA {{event.lastEta[u]?event.lastEta[u]:'unknown'}}</span>
         <button ng-hide="u==userid" class="button button-icon ion-loop" style="color:gray;top:4px" ng-click="requestEta(u)"></button>
         <button ng-hide="u!=userid" class="button button-icon ion-android-pin" id="sendEtaButton" style="color:gray;top:4px" ng-click="etaPopover.show($event)"></button>
      </div>
    </div>
    </ion-content>
  </ion-nav-view>
  </ion-tab>

  <!-- messages -->
  <ion-tab title="Messages" icon="ion-chatboxes" badge="event.flags=='u'?'!':''" badge-style="badge-positive" on-select="selectMessageTab()">
  <ion-nav-view>
    <ion-content class="has-footer">
    <p>
    <div class="list" style="height:400px;background-color:rgba(0,0,0,0)">
      <div ng-show="editing==false" style="min-height:25px" ng-repeat="msg in event.messages track by msg.id" item-width="100%" item-height="25px">
        <div ng-class="msg.sender==userid?'bubbleMe':'bubbleThem'">
          <p style="font-size:13px;line-height:115%"><b>{{(msg.sender==userid)?'me':msg.sender.substring(0,2)}}</b>:&nbsp;
          <span ng-bind-html="msg.body"></span>&nbsp;<a ng-show="msg.state=='EtaRequestMsg'" class="button button-small button-icon ion-android-pin" style="float:right" ng-click="etaPopover.show($event)"></a>
          </p>
        </div>
      </div>
    </div>
    </ion-content>
    <div><p></div>
  </ion-nav-view>
  </ion-tab>

  </ion-tabs>
  
 
 
  <!-- footer -->
  <div ng-show="editing==false" class="bar bar-footer" style="background-color:whitesmoke;border:0">
    <!--<button class="button icon button-icon ion-ios-more" style="color:darkgoldenrod;width:33px;margin:0px;padding:0px" ng-click="popover.show($event)"></button>&nbsp;-->
    <textarea placeholder="Type message here" autocomplete="off" id="msgBox" ng-model="inputMsg" style="width:85%;height:30px;font-size:13px;resize:none;background-color:whitesmoke;border:0;border-bottom:1px solid darkgoldenrod"></textarea>
    <button class="button icon button-icon ion-forward pull-right" style="color:saddlebrown" ng-click="sendMessage()"></button>
  </div>

  <!-- type popover --> 
  <script id="templates/typePopover.html" type="text/ng-template">
      <ion-popover-view style="background-color:#555555;height:320px;width:140px;border-radius:4px">
        <ion-content>
          <div class="list">
              <a class="item" style="background-color:#555555;color:palegoldenrod;font-size:14px;padding:12px" ng-repeat="e in acAllTypes" ng-click="selectType(e)"><b>{{e}}</b></a>
          </div>
        </ion-content>
      </ion-popover-view>
  </script>

  <!-- eta popover --> 
  <script id="templates/etaPopover.html" type="text/ng-template">
      <ion-popover-view style="background-color:#555555;height:320px;width:120px;border-radius:4px">
        <ion-content>
          <div class="list">
              <a class="item" style="background-color:#555555;color:palegoldenrod;font-size:14px;padding:12px" ng-repeat="e in etaOptions" ng-click="selectEta(e)"><b>{{e}}</b></a>
          </div>
        </ion-content>
      </ion-popover-view>
  </script>

  <!-- action popover --> 
  <script id="templates/msgPopover.html" type="text/ng-template">
      <ion-popover-view class="dark-bg" style="height:250px;width:130px;border-radius:4px">
        <ion-content>
          <div class="list">
              <a class="item dark-bg" style="color:palegoldenrod;font-size:14px;padding:12px" ng-repeat="a in aubList" ng-click="selectAUB(a)"><b>{{a}}</b></a>
          </div>
        </ion-content>
      </ion-popover-view>
  </script>

  <!-- 3vd menu -->
  <script id="templates/menuPopover.html" type="text/ng-template">
      <ion-popover-view style="height:200px;width:120px;border-radius:4px">
        <ion-content>
          <div class="list">
              <a class="item" ng-show="event.owner==userid&&event.past!=true" style="font-size:14px" ng-click="editEvent()">Edit Event</a>
              <a class="item" ng-show="event.owner==userid && event.state!='Cancelled' && event.past!=true" style="font-size:14px" ng-click="cancelEvent()">Cancel Event</a>
              <a class="item" style="font-size:14px" ng-click="cloneEvent()">Clone Event</a>
          </div>
        </ion-content>
      </ion-popover-view>
  </script>

  <!-- add contact popover --> 
  <script id="templates/addContactPopover.html" type="text/ng-template">
      <ion-popover-view class="dark-bg" style="height:300px;width:170px;border-radius:4px">
        <ion-content>
          <div class="list">
              <a class="item dark-bg" style="font-size:14px;padding:12px;color:palegoldenrod" ng-repeat="c in acAllContacts" ng-click="selectContact(c)"><b>{{c}}</b></a>
          </div>
        </ion-content>
      </ion-popover-view>
  </script>
</ion-view>
