<ion-view style="/*background:linear-gradient(darkgray,tan)*/ background:url('img/bg-main.jpg')" view-title="BeeWaggle">
  <ion-nav-buttons side="right">
      <input type="text" size="18" style="border-radius:3px;float:left" ng-show="showSearch==true" placeholder=" Search" ng-model="searchStr" ng-change="searchEvents(searchStr)"></input>
      <button class="button button-icon ion-ios-search-strong" ng-click="toggleSearch()"></button>  
      <button class="button button-icon ion-minus-round" ng-click="toggleShowDelete()"></button>
      <button class="button button-icon ion-plus-round" ng-click="newEvent()"></button>
  </ion-nav-buttons>

  <div class="tabs-top tabs-background-dark tabs-color-energized">
    <div class="tabs">
      <a style="font-size:13px" class="tab-item" ng-repeat="c in tabEventCats" ng-class="{active:filterCat==c}" ng-click="switchToTab(c)"><b>{{c}}</b></a>
    </div>
  </div>

  <ion-content style="top:90px">
    <ion-refresher pulling-text="Syncing..." on-refresh="doRefresh()">
    </ion-refresher>
    <ion-list class="eventList" show-delete="showDeleteButtons" can-swipe="false">
    <ion-item style="background-color:whitesmoke" class="item" href="#/app/event/{{event.id}}" hold-list collection-repeat="event in events | filter:{filtered:true} track by event.id">
        <div class="usrAvatar" ng-style="{'background-color':getUserColor(event.owner),'left':'0px','top':'10px','padding-left':'0px'}"><p style="color:white">{{event.owner==userid?'me':event.owner.substring(0,2)}}</p></div>
        <h2 ng-style="{'color':event.state=='Past'?'gray':'black','font-weight':event.flags?'600':'300','text-decoration':(event.state=='Cancelled')?'line-through':''}">{{event.name}}</h2>
        <p ng-style="{'text-decoration':event.state=='Cancelled'?'line-through':''}" style="font-size:12px;color:gray">{{event.place || '(No place)'}}<br>
        {{event.startTimeLocal || '(No time)'}}</p>
        <span class="badge badge-positive" style="right:20px" ng-show="event.flags=='u'">!</span>
        <!--<div ng-show="event.flags!=null&&event.flags!=''" class="flagLabel">{{getEventFlagString(event)}}</div>-->
        <div ng-style="{'background-color':(event.state=='Scheduled')?'seagreen':(event.state=='Pending')?'goldenrod':(event.state=='Cancelled')?'indianred':'gray'}" class="stateLabel">{{event.state}}</div>
        <ion-delete-button class="ion-minus-circled" ng-click="deleteEvent(event)"></ion-delete-button>
        <ion-option-button class="button-calm" ng-click="cloneEvent(event.id)">Clone</ion-option-button>
        <ion-option-button class="button-assertive" ng-click="deleteEvent(event)">Delete</ion-option-button>
    </ion-item>
    </ion-list>
  </ion-content/>
</ion-view>
