<ion-view style="/*background:linear-gradient(darkgray,tan)*/ background:url('img/bg-main.jpg')" view-title="Login/Register">
  <ion-content>
      <div class="list list-inset" style="border-radius:5px">
        <label class="item item-input item-stacked-label">
          <span class="input-label">My Phone Number</span>
          <input type="tel" ng-model="loginData.phoneNumber">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">My User Id</span>
          <input type="text" ng-model="loginData.username">
        </label>
        <!--<label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="loginData.password">
        </label>-->
      </div>
      <br>
      <h4 style="text-align:center" ng-show="loginStatus=='loggingIn'">Logging In...</h4>
      <div ng-show="loginStatus=='loggedIn'" class="padding-horizontal">
        <button class="button button-block button-assertive" ng-click="doLogout()">Logout</button>
      </div>
      <div ng-show="loginStatus=='loggedOut'" class="padding-horizontal">
        <p style="text-align:center">New user?</p>
        <button class="button button-block button-positive" ng-click="doRegister()">Register</button>
        <br><br>
        <p style="text-align:center">Already registered?</p>
        <button class="button button-block button-balanced" ng-click="doLogin()">Login</button>
      </div>
  </ion-content>
</ion-view>
