<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
  <ion-nav-bar class="bar-dark">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" class="dark-bg" ng-hide="!isMenuOpen()">
    <ion-header-bar class="bar-dark">
      <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close href="#/app/events/Upcoming">
          <i style="color:goldenrod" class="ion-home"></i>&nbsp;&nbsp;Events
        </ion-item>
        <ion-item menu-close href="#/app/login">
          <i style="color:goldenrod" class="ion-person"></i>&nbsp;&nbsp;My profile
        </ion-item>
        <ion-item menu-close href="#/app/settings">
        <i style="color:goldenrod" class="ion-settings"></i>&nbsp;&nbsp;Settings
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
