<ion-view style="/*background:linear-gradient(darkgray,tan)*/ background:url('img/bg-main.jpg')" view-title="Settings">
<ion-content>
<div class="list">
  <label class="item item-input item-select">
    <div class="input-label">Keep past events for</div>
    <select>
      <option selected>One week</option>
      <option>One month</option>
      <option>Forever</option>
    </select>
  </label>
</div>
</ion-content>
</ion-view>
