body {
      padding-top: 50px;
      padding-left: 0px;
      padding-right: 0px;
      padding-bottom: 0px;	 
	    margin-bottom: 0px; 
      font-size: 12px;
}

/*
#flowsTable {
  position: absolute;
  overflow: scroll;
  top: 50px;
  left: 150px;  
}
*/

#footerBox {
  position: fixed;
  bottom: 0;
  left: 0px;
  height: 34px;
}

@media(min-width:768px) {
  #footerBox {
    position: fixed;
    bottom: 0;
    left: 152px;
    height: 34px;
  }
}