/****Custom global CSS ***/
.ui-mobile .ui-page {
  background-color: #3b4349;
}
.light-gray{
	color:#9a9fa6;
}
.center{
	text-align:center;
}
.ui-icon-back{
    background: black;
	border:0px;
}
.right{
	text-align:right;
}
.left{
	text-align:left;
}

/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .fa {
  position: absolute;
  padding: 10px 15px;
  pointer-events: none;
}

/* align icon */
.left-addon .fa  { left:  0px;}
.right-addon .fa { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  45px; }
.right-addon input { padding-right: 45px; }


.ui-grid-a .col-sm-2{
	width:14%;
	float:left;
	padding-right:1%;
}
.ui-grid-a .col-sm-10{
	width:84%;
	float:left;
	padding-left:1%;
}

.ui-listview .ui-li-aside{
	right:1.7em;
}
.listItemThumb {
    left: 1px;
    height: 60px; 
    width: 60px; 
    position: absolute;
    top: 0;
}
.listTextWithThumb{
    font-size: 15px !important;
    font-weight: bold;
    padding-left: 65px;
}
.listText2WithThumb{
    font-size: 12px !important;
    padding-left: 65px;
    color: #989898;
}

/*
.ui-li-has-thumb .ui-btn-inner a.ui-link-inherit,.ui-li-static.ui-li-has-thumb {
    padding-right:5px !important
}*/

/***Login Page ***/
#loginPage #mainContent{
	padding-top:30px;
}
#loginPage .ui-body-a{
	background:none;
	border:0px;
}
#loginPage .ui-input-text input,#loginPage .ui-corner-all{
	border-radius:0px;
}
#loginPage .ui-input-text{
	border:0px !important;
	background:#768087; 
	color:#e5e5e5;
}
#loginPage .inner-addon .fa{
	color:#fff;
	background:#33393d;
}
#loginPage .password-icon{
	font-size: 19px;
	width: 13px;
	padding: 8px 15px;
}
#loginPage .ui-btn-b{
	background:none;
	background-color:rgba(255,255,255,0.1);
	border-color:rgba(255,255,255,0.1);
}
#loginPage .ui-grid-a:last-child{
	padding:20px 0px;
}
#loginPage .ui-grid-a .ui-block-a{
	border-right:solid 1px #67727a;
}
#loginPage a{
	color:#9a9fa6;
	text-decoration:none;
}
#loginPage .ui-footer{
	padding-top:40px;
	background:none;
	background-color:rgba(0,0,0,0);
	border:0px;
	text-align:center;
}
#loginPage h3{
	color:#9a9fa6;
	font-size:18px;
    text-align:left;
}
#loginPage .logoImg{
	width:105px;
}


/***** Register Page *****/
#registerPage .ui-input-text input, #registerPage .ui-corner-all{
	border-radius:0px;
}
#registerPage .inner-addon .fa{
	color:#fff;
	background:#33393d;
}
#registerPage .ui-input-text input,#registerPage .ui-corner-all{
	border-radius:0px;
	background:#768087; 
	color:#e5e5e5;
}
#registerPage .ui-input-text{
	border:0px !important;
}
#registerPage .email-icon, #registerPage .at-icon, #settingsPage .f-icon, #settingsPage .l-icon{
	font-size:15px;
}
#registerPage .f-icon, #registerPage .l-icon{
	padding: 10px 17px;
}
#registerPage .key-icon{
	padding: 10px 13px;
}
#registerPage .lock-icon{
	padding: 10px 16px;
}
#registerPage .mobile-icon{
	font-size: 21px;
	padding: 7px 16px;
}
#registerPage .ui-grid-a .ui-block-a{
	padding-right:5px;
}
#registerPage .ui-grid-a .ui-block-b{
	padding-left:5px;
}
#registerPage .ui-footer{
	padding-top:40px;
	background:none;
	background-color:rgba(0,0,0,0);
	border:0px;
	text-align:center;
}
#registerPage h3{
	color:#9a9fa6;
	font-size:17px;
}
#registerPage .ui-header.ui-bar-a{
	background: #000;
	border-color: #000;
}
#registerRegisterButton{
	border-color:#a5abaf;
}

/* Settings Page */
#settingsPage .ui-corner-all{
	border-radius:0px;
}
#settingsPage .ui-btn.ui-btn-c{
	background-color:#768087;
	border:none;
	color:#fff;
	font-weight:normal;
}
#settingsPage .ui-input-text input{
	border-radius:0px;
}
#settingsPage .inner-addon .fa{
	color:#fff;
	background:#33393d;
}
#settingsPage .ui-input-text input{
	border-radius:0px;
	background:#768087; 
	color:#e5e5e5;
}
#settingsPage .ui-input-text{
	border:0px !important;
}
#settingsPage .email-icon, #settingsPage .at-icon, #settingsPage .f-icon, #settingsPage .l-icon{
	font-size:15px;
}
#settingsPage .f-icon, #settingsPage .l-icon{
	padding: 10px 17px;
}
#settingsPage .key-icon{
	padding: 10px 13px;
}
#settingsPage .lock-icon{
	padding: 10px 16px;
}
#settingsPage .mobile-icon{
	font-size: 21px;
	padding: 7px 16px;
}
#settingsPage .ui-grid-a .ui-block-a{
	padding-right:5px;
}
#settingsPage .ui-grid-a .ui-block-b{
	padding-left:5px;
}
#settingsPage .ui-footer{
	padding-top:40px;
	background:none;
	background-color:rgba(0,0,0,0);
	border:0px;
	text-align:center;
}
#settingsPage .ui-header h3{
	color:#9a9fa6;
	font-size:17px;
}
#settingsPage .ui-header.ui-bar-a{
	background: #000;
	border-color: #000;
}
#settingsSaveButton{
	background: rgba(207, 244, 199, 1);
	border: solid 1px rgba(0, 255, 3, 0.3);
	color: rgb(0, 110, 0);
}
#settingsPage #updateButton{
	background: rgba(254, 255, 210, 1);
	border: solid 1px rgba(255, 242, 0, 0.94);
	color: rgb(84, 89, 6);
}

/********Main Page*********/
#mainPage .ui-header.ui-bar-a{
	background: #000;
	border-color: #000;
}
#mainPage .tab-nav-bar li a{
	background: #000;
	border:solid 2px #000;
	color:#999;
}
#mainPage .tab-nav-bar li a.ui-btn-active{
	border-bottom:solid 2px #B85353;
	color:#fff;
}
#mainPage .ellipsis-menu-icon{
	font-size: 20px;
	padding: 2px 15px;
	background:rgba(0,0,0,0);
	border:0px;
}
#mainPage .search-icon{
	margin-right:40px;
	background:rgba(0,0,0,0);
	border:0px;
}
#mainPage .trash-icon{
	margin-right:80px;
	background:rgba(0,0,0,0);
	border:0px;
}
#mainPage .ui-icon-bars{
	background:rgba(0,0,0,0);
	border:0px;
}
#mainPage .threadsList li a{
	background:rgba(0,0,0,0);
	color:#d3d8dc;
	border-color:#343e43;
}
/*
#mainPage .threadsList li a.threadsListElements{
	padding-left:0px;
}
#mainPage .threadsList li .threadsListElements p{
	overflow:visible;
}
#mainPage .threadsList li a span{
	color:#d3d8dc !important;
}
#mainPage .threadsList li a img{
	width:80px;
	height:80px;
}
#mainPage .threadsList li a div.dp-wrapper{
	width:35px;
}*/
#mainPage .threadsList li a div{
	float:left;
}

/******Contact Page ******/
#contactPage .ui-corner-all{
	border-radius:0px;
}
#contactPage .ui-input-text input{
	border-radius:0px;
	background:#768087; 
	color:#e5e5e5;
}
#contactPage .ui-input-text{
	border:0px !important;
}
#contactPage .ui-btn.ui-btn-c{
	background-color:#768087;
	border:none;
	color:#fff;
	font-weight:normal;
}
#contactSaveButton {
	background: rgba(207, 244, 199, 1);
	border: solid 1px rgba(0, 255, 3, 0.3);
	color: rgb(0, 110, 0);
}
#contactDeleteButton {
	background: rgba(255, 212, 212, 1);
	border: solid 1px rgba(255,0,0,0.3);
	color: rgb(239, 0, 0);
}

/*******Gate page **********/
#gatePage h4,
#gatePage p{
	color:#fff;
}
#gatePage hr{
	border-color:#999;
}
#gatePage .ui-corner-all{
	border-radius:0px;
}
#gatePage .ui-input-text input{
	border-radius:0px;
	background:#768087; 
	color:#e5e5e5;
}
#gatePage .ui-input-text{
	border:0px !important;
}
#gatePage .ui-btn.ui-btn-c{
	background-color:#768087;
	border:none;
	color:#fff;
	font-weight:normal;
}
#gateSaveButton{
	background: rgba(207, 244, 199, 1);
	border: solid 1px rgba(0, 255, 3, 0.3);
	color: rgb(0, 110, 0);
}
#gateDeleteButton{
	background: rgba(255, 212, 212, 1);
	border: solid 1px rgba(255,0,0,0.3);
	color: rgb(239, 0, 0);
}
#gateDisableButton{
	background: rgba(254, 255, 210, 1);
	border: solid 1px rgba(255, 242, 0, 0.94);
	color: rgb(84, 89, 6);
}

/******Discover input page ****/

#discoverInputPage .ui-corner-all{
	border-radius:0px;
}
#discoverInputPage .ui-input-text input{
	border-radius:0px;
	background:#768087; 
	color:#e5e5e5;
}
#discoverInputPage .ui-input-text{
	border:0px !important;
}
#discoverInputPage .ui-btn.ui-btn-c{
	background-color:#768087;
	border:none;
	color:#fff;
	font-weight:normal;
}

#flowDetailPage .ui-header{
	background: #000;
	border-color: #000;
}

#flowDetailPage .ui-input-text input{
	background:#768087; 
	color:#e5e5e5;
}
#flowDetailPage .ui-input-text{
	border:0px !important;
}

.headerTitle {
	color: #9a9fa6;
	font-size: 18px;
}

#flowDetailPage .ellipsis-menu-icon{
	font-size: 20px;
	padding: 2px 15px;
	background:rgba(0,0,0,0);
	border:0px;
}
#cardButton {
	margin-right:80px;
	background:rgba(0,0,0,0);
	border:0px;
}
#tagsButton {
    margin-top: 3px;
	margin-right:45px;
	background:rgba(0,0,0,0);
	border:0px;
}

/*******Filter Panel*********/
#filterPanel{
	background:rgba(0,0,0,0);
	border-right:0px;
}
#filterPanel .emptyFilterList{
	height:20px;
	background:rgba(0,0,0,0);
}
#filterPanel .filterListItem{
	background:#262626;
	border-top:none;
}
#filterPanel .filterListItem *{
	background:#262626;
	color:#fff;
	text-decoration:none;
}
#filterPanel .filterPanelHeading {
	margin:0px;
	background:#595959;
	text-align:center;
	padding:3px;
}
#filterPanel .filterPanelHeading a {
	background:#595959;
} 
#filterPanel .padding-5{
	padding:8px 0px;
}
#filterPanel .bottomBordered{
	border-bottom:solid 1px #666666;
}


.icon{
	width:70px;
	height:70px;
	border-radius:35px;
	position:fixed;
	right:25px;
	bottom:25px;
}

/* Bounce In */
.hvr-bounce-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}
.faLoaderSpinner{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    display: none;
    top: 0px;
    z-index: 9999;
    
}
.faLoaderSpinner.opened{
    display:block !important;
}
.faLoaderSpinner i{
    color: #fff;
    font-size: 35px;
    margin: 79% auto;
}
.usrAvatar{
	width:50px;
	height:50px;
	border-radius:65px;
	text-align:center;
	float:left;
	margin-right:15px;
	color:#fff;
	position:relative;
	z-index:2;
}
.usrAvatar p{
	margin:0px;
}
div.dottedLine:after{
	content:"";
    z-index: 0;
    top: 160px;
	position:absolute;
    bottom: 0;
    left: 28px;
	border-left: 2px dotted #5A5959;
}
#msgBoxFooter{
	border-width:0px;
	border-top:solid 0px #30383d;
}
.bubbleMe{
	position: relative;
	display: inline-block;
	padding: 3px;
	clear: both;
	font:1em/1.4 Droid, sans-serif;
	margin: 3px;
	left: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border-top-left-radius: 0px;	
	max-width:70%;
	min-width:70%;
	min-height:30px;
	border-radius:10px;
	background: #B5B6B5 none repeat scroll 0% 0%;
	border: 1px solid #DCDDDC;
	margin-bottom:7px;
}
.bubbleMe span.time{
	position: absolute;
    bottom: 0px;
    right: 3px;
    font-size: 11px;
    color: #999;
}
.bubbleMe:before{
	content: '';
	position: absolute;
	border-style: solid;
	display: block;
	width: 0;
	z-index: 0;
	left: -25px;	
	top:8px;
	border-width: 15px 25px 0px 0px;
	border-color: transparent #B5B6B5;
}
.bubbleMe:after{
	display:none;
}

.bubbleThem{
	position: relative;
	display: inline-block;
	padding: 3px;
	clear: both;
	font:1em/1.4 Droid, sans-serif;
	margin: 3px;
	left: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-top-left-radius: 0px;		
	max-width:70%;
	min-width:70%;
	min-height:30px;
	border-radius:10px;
	background: #C6E4EE none repeat scroll 0% 0%;
	border: 1px solid #DCDDDC;
	margin-bottom:7px;
}
.bubbleThem span.time{
	position: absolute;
    bottom: 0px;
    right: 3px;
    font-size: 11px;
    color: #999;
}
.bubbleThem:before{
	content: '';
	position: absolute;
	border-style: solid;
	display: block;
	width: 0;
	z-index: 0;
	left: -25px;		
	top:8px;
	border-width: 15px 25px 0px 0px;
	border-color: transparent #C6E4EE;
}
.bubbleThem:after{
	display:none;
}

li:first-child .portTextSpan::before{
	content: ".";
    width: 100%;
    display: block;
    float: left;
    background-color: #3B4349;
    margin-left: -50px;
	color:#3B4349;
}
li:last-child .portTextSpan::after{
	content: ".";
    width: 100%;
    display: block;
    float: right;
    background-color: #3B4349;
    margin-right: -52px;
	color:#3B4349;
}
li:first-child .portText4Span::before{
	content: ".";
    width: 100%;
    display: block;
    float: left;
    background-color: #3B4349;
    margin-left: -31px;
	color:#3B4349;
}
li:last-child .portText4Span::after{
	content: ".";
    width: 100%;
    display: block;
    float: right;
    background-color: #3B4349;
    margin-right: -61px;
	color:#3B4349;
}
.usrAvatar.contactList{
	width:35px;
	height:35px;
}
.listTextWithThumb, .listText2WithThumb{
	padding-left:0px;
}
.usrAvatar.contactList p.usrAvatarTxt{
	padding-top: 2px;
	padding-left: 9px;
}
.usrAvatar.contactList p{
	padding-top:3px;
}
#stateList .ui-btn{
	padding-left:0px !important;
	padding-right:0px !important;
}
