/* AUTOMETON MAIN CSS */

.listfont {
    font-size: 15px !important;
    font-weight: bold;
}

.bubbleleft
{
position: relative;
min-width: 50%;
display: inline-block;
padding: 3px;
clear: both;
font:1em/1.4 Droid, sans-serif;
max-width: 80%;
margin: 3px;
left: 10px;
background: #E9FCE9;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
border-top-left-radius: 0px;
border: #DAF1DA solid 1px;
}

.bubbleleft:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 0px 24px 14px 0;
border-color: transparent #E9FCE9;
display: block;
width: 0;
z-index: 1;
left: -20px;
top: 0px;
}

.bubbleleft:before 
{
content: '';
position: absolute;
border-style: solid;
border-width: 0px 24px 16px 0;
border-color: transparent #DAF1DA;
display: block;
width: 0;
z-index: 0;
top: -1px;
left: -25px;

}

.bubbleright
{
position: relative;
float: right;
clear: both;
min-width: 50%;
font:1em/1.4 Droid, sans-serif;
max-width: 80%;
display: inline-block;
padding: 3px;
right: 10px;
margin: 3px;
background: #E6F3F8;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
border-top-right-radius: 0px;
border: #DEEEEE solid 1px;
/*box-shadow: 3px 3px 2px #999999;*/
}

.bubbleright:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 0px 0px 14px 24px;
border-color: transparent #E6F3F8;
display: block;
width: 0;
z-index: 1;
right: -20px;
top: 0px;
}

.bubbleright:before 
{
content: '';
position: absolute;
border-style: solid;
border-width: 0px 0px 15px 25px;
border-color: transparent #DEEEEE;
display: block;
width: 0;
z-index: 0;
right: -26px;
top: -1px;
}

.leftCrescent {
top: 60px;
left: 0px;
width: 30px;
height: 60px;
border-radius: 0px 60px 60px 0;
-moz-border-radius: 0px 60px 60px 0;
-webkit-border-radius: 0px 60px 60px 0;
background-color: #DCB2B2;
z-index: 10000;
position: fixed;
opacity: 0.5;
line-height: 60px;
text-align: center;
vertical-align: center;
font-size: 15px;
}

.rightCrescent {
top: 60px;
right: 0;
width: 30px;
height: 60px;
border-radius: 60px 0px 0px 60px;
-moz-border-radius: 60px 0px 0px 60px;
-webkit-border-radius: 60px 0px 0px 60px;
background-color: #DCB2B2;
z-index: 10000;
position: fixed;
opacity: 0.5;
line-height: 60px;
text-align: center;
vertical-align: center;
font-size: 15px;
}

.topCrescent {
top: 45px;
left: 45%;
width: 60px;
height: 30px;
border-radius: 0px 0px 60px 60px;
-moz-border-radius: 0px 0px 60px 60px;
-webkit-border-radius: 0px 0px 60px 60px;
background-color: #DCB2B2;
z-index: 10000;
position: fixed;
opacity: 0.5;
line-height: 30px;
text-align: center;
vertical-align: center;
font-size: 15px;
}

.leftCircle {
top: 60px;
left: 0px;
width: 50px;
height: 50px;
border-radius: 50px 50px 50px 50px;
-moz-border-radius: 50px 50px 50px 50px;
-webkit-border-radius: 50px 50px 50px 50px;
background-color: #EA728A;
color: #ffffff;
z-index: 10000;
position: fixed;
opacity: 0.5;
line-height: 50px;
text-align: center;
vertical-align: center;
font-size: 15px;
font-weight: bold;
}

.rightCircle {
top: 60px;
right: 0;
width: 50px;
height: 50px;
border-radius: 50px 50px 50px 50px;
-moz-border-radius: 50px 50px 50px 50px;
-webkit-border-radius: 50px 50px 50px 50px;
background-color: #EA728A;
color: #ffffff;
z-index: 10000;
position: fixed;
opacity: 0.5;
line-height: 50px;
text-align: center;
vertical-align: center;
font-size: 15px;
font-weight: bold;
}

.blockRight
{
position: fixed;
width: 70px;
height: 30px;
right: 10px;
top: 50px;
background: #EA728A;
color:white;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
border: #EA728A solid 1px;
opacity: 0.9;
font-size: 13px;
line-height: 30px;
text-align: center;
vertical-align: center;
font-weight: bold;
}


.ui-table-reflow.ui-responsive {
 display: table !important;
}

/* dialogs with transparent background 
.ui-dialog-background {
	opacity: 0.1;
	display: block !important;
}
.ui-dialog-background.pop.in {
	opacity: 1;
}
.ui-dialog {
	min-height: 100% !important;
	background: transparent !important;
}*/


/* disable shadows for better android performance */
.ui-body-a,
.ui-bar-a,
.ui-btn-up-a,
.ui-btn-hover-a,
.ui-btn-down-a,

.ui-body-b,
.ui-bar-b,
.ui-btn-up-b,
.ui-btn-hover-b,
.ui-btn-down-b,

.ui-body-c,
.ui-bar-c,
.ui-btn-up-c,
.ui-btn-hover-c,
.ui-btn-down-c,

.ui-body-d,
.ui-bar-d,
.ui-btn-up-d,
.ui-btn-hover-d,
.ui-btn-down-d,

.ui-body-e,
.ui-bar-e,
.ui-btn-up-e,
.ui-btn-hover-e,
.ui-btn-down-e,

.ui-shadow-inset,
.ui-icon-shadow,
.ui-focus,
.ui-overlay-shadow,
.ui-shadow,
.ui-btn-active,
* {
    text-shadow: none !important;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
}
