/* Empty. Add your own CSS if you like */

.menu-left .item {
    background-color: transparent;
    border: none;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #333;
    color: #F0F1F1;
}

.menu-left .item-complex .item-content, .menu-left .item-radio .item-content {
    background-color: transparent;
}

.eventList .item .item-content {
  background-color: whitesmoke;
  transition-duration:50ms;
  padding:10px;
  height:86px;
} 

* {
  font-family: -apple-system, "Lato", "Helvetica Neue", "Droid Sans", sans-serif;
}
.input {
  font-family: -apple-system, "Lato", "Helvetica Neue", "Droid Sans", sans-serif;
}

.formFont {
  font-size: 14px;
}

.usrAvatar{
	width:40px;
	height:40px;
    line-height:40px;
	border-radius:65px;
	text-align:center;
	float:left;
	margin-left:0px;
	margin-right:10px;
	color:#fff;
	position:relative;
	z-index:2;
}
.usrAvatar p{
	margin:0px;
}
.stateLabel{
  min-width:50px;
  height:18px;
  border-radius:5px;
  text-align:center;
  float:right;
  margin-right:5px;
  padding-right:3px;
  padding-left:3px;
  color:#fff;
  z-index:2;
  opacity:0.7;
  background-color:seagreen;
  position: absolute;
  bottom:3px;
  right:5px;
  font-size:9px;
}
.flagLabel{
  min-width:30px;
  height:18px;
  border-radius:5px;
  text-align:center;
  float:right;
  margin-right:5px;
  padding-right:3px;
  padding-left:3px;
  color:#fff;
  z-index:2;
  opacity:0.7;
  background-color:cadetblue;
  position: absolute;
  bottom:26px;
  right:5px;
  font-size:9px;
}

.bubbleMe{
	position: relative;
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	clear: both;
	font-size: 12px;
	margin: 0px;
	right: 10px;
	float: right;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border-top-left-radius: 0px;	
	max-width:90%;
	min-width:50%;
	min-height:15px;
	border-radius:8px;
	background: #ffffff none repeat scroll 0% 0%;
	opacity:0.9;
	color: #111111;
	border: 1px solid #fff;
	margin-bottom:8px;
}
.bubbleMe span.time{
	position: absolute;
    bottom: 0px;
    right: 3px;
    font-size: 11px;
    color: #999;
}
/*
.bubbleMe:before{
	content: '';
	position: absolute;
	border-style: solid;
	display: block;
	width: 0;
	z-index: 0;
	left: -25px;	
	top:8px;
	border-width: 15px 25px 0px 0px;
	border-color: transparent #B1BCB1;
}
.bubbleMe:after{
	display:none;
}
*/

.bubbleThem{
	position: relative;
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	clear: both;
	font-size: 12px;
	margin: 0px;
	left: 10px;
    float: left;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-top-left-radius: 0px;		
	max-width:90%;
	min-width:50%;
	min-height:15px;
	border-radius:8px;
	background: #d3f8d3 none repeat scroll 0% 0%;
	border: 1px solid #bdf4bd;
	margin-bottom:8px;
}
.bubbleThem span.time{
	position: absolute;
    bottom: 0px;
    right: 3px;
    font-size: 11px;
    color: #999;
}
/*
.bubbleThem:before{
	content: '';
	position: absolute;
	border-style: solid;
	display: block;
	width: 0;
	z-index: 0;
	left: -25px;		
	top:8px;
	border-width: 15px 25px 0px 0px;
	border-color: transparent #d3f8d3;
}
.bubbleThem:after{
	display:none;
}
*/

/* map stuff */
#map {
  height: 100%;
  width: 100%;
}
.scroll {
  height: 100%;
}
#map_canvas {
  width: 100%;	
  height: 100%;
  margin: 0;
  position: relative;
}
.angular-google-map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.markerClassForMe {
  color:#ff0000;
  font-size:20px;
  line-height:12px;
  text-align:center;
}
.markerClassForOthers {
  color:#3000ff;
  font-size:20px;
  line-height:12px;
  text-align:center;
}
.markerClassForMe span, .markerClassForOthers span {
  font-size:12px;
}
.item-select select
{
    right: auto;
    padding: 10px 10px 8px 0px;
    direction: ltr;
}
